In [1]:
import pandas as pd

In [2]:
#CSVを読み込んでDataFrameを作成（オプションで、1行目を読み込まない、列ラベルの変更、日付データを日付型に変換）
df = pd.read_csv("data.csv", names = ["date", "Naha", "Tokyo", "Sapporo"], skiprows = 1, parse_dates = ["date"])
#DataFrameの表示
df

         date  Naha  Tokyo  Sapporo
0  2019-01-01  18.3    5.3     -1.9
1  2019-01-02  17.8    6.2     -4.1
2  2019-01-03  17.4    4.9     -3.3
3  2019-01-04  19.9    5.1     -0.2
4  2019-01-05  22.1    7.4     -2.2
5  2019-01-06  19.0    5.3     -3.0
6  2019-01-07  19.0    5.4     -4.8
7  2019-01-08  18.9    4.6     -3.5
8  2019-01-09  17.9    4.5     -2.0
9  2019-01-10  19.9    2.0      0.5
10 2019-01-11  20.4    6.4     -3.6
11 2019-01-12  22.1    4.6     -2.4
12 2019-01-13  19.5    6.2     -5.1
13 2019-01-14  18.6    5.6     -5.0
14 2019-01-15  19.1    5.6      0.1
15 2019-01-16  17.1    6.6     -3.0
16 2019-01-17  15.4    6.6     -7.9
17 2019-01-18  16.6    5.9     -5.0
18 2019-01-19  18.4    6.6     -1.8
19 2019-01-20  19.4    7.1     -2.4
20 2019-01-21  17.0    5.8     -5.2
21 2019-01-22  16.1    5.0     -4.3
22 2019-01-23  16.7    6.7     -2.3
23 2019-01-24  16.1    6.2     -1.9
24 2019-01-25  16.6    6.0     -1.6
25 2019-01-26  15.3    4.5     -2.8
26 2019-01-27  15.0    4.6     -4.3
27 2019-01-28  16.8    6.5     -0.6
28 2019-01-29  17.9    6.0     -1.5
29 2019-01-30  18.2    5.2     -2.1
30 2019-01-31  20.0    5.1     -4.4

In [3]:
#1行目から3行目までを表示（pandasでは0行目、0列目から始まることに注意）
df[1:3]

        date  Naha  Tokyo  Sapporo
1 2019-01-02  17.8    6.2     -4.1
2 2019-01-03  17.4    4.9     -3.3

In [4]:
#Naha列の値が20より大きいの行を表示
df[df["Naha"]>20]

         date  Naha  Tokyo  Sapporo
4  2019-01-05  22.1    7.4     -2.2
10 2019-01-11  20.4    6.4     -3.6
11 2019-01-12  22.1    4.6     -2.4

In [5]:
#loc、iloc属性それぞれで同じデータを参照（1行目の2列目を指定）
df.loc[[1],["Tokyo"]]
df.iloc[[1],[2]]

   Tokyo
1    6.2

In [6]:
#loc属性を使用してNaha行の値が20より大きい行のTokyo列を抽出
df.loc[df["Naha"] > 20,["Tokyo"]]

    Tokyo
4     7.4
10    6.4
11    4.6

In [7]:
#DataFrameにA列を追加して値は全て3で埋める
df["A"] = 3
df

         date  Naha  Tokyo  Sapporo  A
0  2019-01-01  18.3    5.3     -1.9  3
1  2019-01-02  17.8    6.2     -4.1  3
2  2019-01-03  17.4    4.9     -3.3  3
3  2019-01-04  19.9    5.1     -0.2  3
4  2019-01-05  22.1    7.4     -2.2  3
5  2019-01-06  19.0    5.3     -3.0  3
6  2019-01-07  19.0    5.4     -4.8  3
7  2019-01-08  18.9    4.6     -3.5  3
8  2019-01-09  17.9    4.5     -2.0  3
9  2019-01-10  19.9    2.0      0.5  3
10 2019-01-11  20.4    6.4     -3.6  3
11 2019-01-12  22.1    4.6     -2.4  3
12 2019-01-13  19.5    6.2     -5.1  3
13 2019-01-14  18.6    5.6     -5.0  3
14 2019-01-15  19.1    5.6      0.1  3
15 2019-01-16  17.1    6.6     -3.0  3
16 2019-01-17  15.4    6.6     -7.9  3
17 2019-01-18  16.6    5.9     -5.0  3
18 2019-01-19  18.4    6.6     -1.8  3
19 2019-01-20  19.4    7.1     -2.4  3
20 2019-01-21  17.0    5.8     -5.2  3
21 2019-01-22  16.1    5.0     -4.3  3
22 2019-01-23  16.7    6.7     -2.3  3
23 2019-01-24  16.1    6.2     -1.9  3
24 2019-01-25  16.6    6.0     -1.6  3
25 2019-01-26  15.3    4.5     -2.8  3
26 2019-01-27  15.0    4.6     -4.3  3
27 2019-01-28  16.8    6.5     -0.6  3
28 2019-01-29  17.9    6.0     -1.5  3
29 2019-01-30  18.2    5.2     -2.1  3
30 2019-01-31  20.0    5.1     -4.4  3

In [8]:
#locを使用して31行目を追加。値は全て1で埋める。
df.loc["31"] = 1
df

                   date  Naha  Tokyo  Sapporo  A
0   2019-01-01 00:00:00  18.3    5.3     -1.9  3
1   2019-01-02 00:00:00  17.8    6.2     -4.1  3
2   2019-01-03 00:00:00  17.4    4.9     -3.3  3
3   2019-01-04 00:00:00  19.9    5.1     -0.2  3
4   2019-01-05 00:00:00  22.1    7.4     -2.2  3
5   2019-01-06 00:00:00  19.0    5.3     -3.0  3
6   2019-01-07 00:00:00  19.0    5.4     -4.8  3
7   2019-01-08 00:00:00  18.9    4.6     -3.5  3
8   2019-01-09 00:00:00  17.9    4.5     -2.0  3
9   2019-01-10 00:00:00  19.9    2.0      0.5  3
10  2019-01-11 00:00:00  20.4    6.4     -3.6  3
11  2019-01-12 00:00:00  22.1    4.6     -2.4  3
12  2019-01-13 00:00:00  19.5    6.2     -5.1  3
13  2019-01-14 00:00:00  18.6    5.6     -5.0  3
14  2019-01-15 00:00:00  19.1    5.6      0.1  3
15  2019-01-16 00:00:00  17.1    6.6     -3.0  3
16  2019-01-17 00:00:00  15.4    6.6     -7.9  3
17  2019-01-18 00:00:00  16.6    5.9     -5.0  3
18  2019-01-19 00:00:00  18.4    6.6     -1.8  3
19  2019-01-20 00:00:00  19.4    7.1     -2.4  3
20  2019-01-21 00:00:00  17.0    5.8     -5.2  3
21  2019-01-22 00:00:00  16.1    5.0     -4.3  3
22  2019-01-23 00:00:00  16.7    6.7     -2.3  3
23  2019-01-24 00:00:00  16.1    6.2     -1.9  3
24  2019-01-25 00:00:00  16.6    6.0     -1.6  3
25  2019-01-26 00:00:00  15.3    4.5     -2.8  3
26  2019-01-27 00:00:00  15.0    4.6     -4.3  3
27  2019-01-28 00:00:00  16.8    6.5     -0.6  3
28  2019-01-29 00:00:00  17.9    6.0     -1.5  3
29  2019-01-30 00:00:00  18.2    5.2     -2.1  3
30  2019-01-31 00:00:00  20.0    5.1     -4.4  3
31                    1   1.0    1.0      1.0  1

In [9]:
df = pd.read_csv("data.csv", names = ["date", "Naha", "Tokyo", "Sapporo"], skiprows = 1, parse_dates = ["date"])

In [10]:
#DataFrameを作成
df2 = pd.DataFrame({
    "date":["2019-02-01"],
    "Naha":1,
    "Tokyo":1,
    "Sapporo":3
})
df2

         date  Naha  Tokyo  Sapporo
0  2019-02-01     1      1        3

In [11]:
#appendメソッドでDataFrame通しの結合
df = df.append(df2)
df

                   date  Naha  Tokyo  Sapporo
0   2019-01-01 00:00:00  18.3    5.3     -1.9
1   2019-01-02 00:00:00  17.8    6.2     -4.1
2   2019-01-03 00:00:00  17.4    4.9     -3.3
3   2019-01-04 00:00:00  19.9    5.1     -0.2
4   2019-01-05 00:00:00  22.1    7.4     -2.2
5   2019-01-06 00:00:00  19.0    5.3     -3.0
6   2019-01-07 00:00:00  19.0    5.4     -4.8
7   2019-01-08 00:00:00  18.9    4.6     -3.5
8   2019-01-09 00:00:00  17.9    4.5     -2.0
9   2019-01-10 00:00:00  19.9    2.0      0.5
10  2019-01-11 00:00:00  20.4    6.4     -3.6
11  2019-01-12 00:00:00  22.1    4.6     -2.4
12  2019-01-13 00:00:00  19.5    6.2     -5.1
13  2019-01-14 00:00:00  18.6    5.6     -5.0
14  2019-01-15 00:00:00  19.1    5.6      0.1
15  2019-01-16 00:00:00  17.1    6.6     -3.0
16  2019-01-17 00:00:00  15.4    6.6     -7.9
17  2019-01-18 00:00:00  16.6    5.9     -5.0
18  2019-01-19 00:00:00  18.4    6.6     -1.8
19  2019-01-20 00:00:00  19.4    7.1     -2.4
20  2019-01-21 00:00:00  17.0    5.8     -5.2
21  2019-01-22 00:00:00  16.1    5.0     -4.3
22  2019-01-23 00:00:00  16.7    6.7     -2.3
23  2019-01-24 00:00:00  16.1    6.2     -1.9
24  2019-01-25 00:00:00  16.6    6.0     -1.6
25  2019-01-26 00:00:00  15.3    4.5     -2.8
26  2019-01-27 00:00:00  15.0    4.6     -4.3
27  2019-01-28 00:00:00  16.8    6.5     -0.6
28  2019-01-29 00:00:00  17.9    6.0     -1.5
29  2019-01-30 00:00:00  18.2    5.2     -2.1
30  2019-01-31 00:00:00  20.0    5.1     -4.4
0            2019-02-01   1.0    1.0      3.0

In [12]:
#index（行番号）の振り直し
df.reset_index(drop = True)

                   date  Naha  Tokyo  Sapporo
0   2019-01-01 00:00:00  18.3    5.3     -1.9
1   2019-01-02 00:00:00  17.8    6.2     -4.1
2   2019-01-03 00:00:00  17.4    4.9     -3.3
3   2019-01-04 00:00:00  19.9    5.1     -0.2
4   2019-01-05 00:00:00  22.1    7.4     -2.2
5   2019-01-06 00:00:00  19.0    5.3     -3.0
6   2019-01-07 00:00:00  19.0    5.4     -4.8
7   2019-01-08 00:00:00  18.9    4.6     -3.5
8   2019-01-09 00:00:00  17.9    4.5     -2.0
9   2019-01-10 00:00:00  19.9    2.0      0.5
10  2019-01-11 00:00:00  20.4    6.4     -3.6
11  2019-01-12 00:00:00  22.1    4.6     -2.4
12  2019-01-13 00:00:00  19.5    6.2     -5.1
13  2019-01-14 00:00:00  18.6    5.6     -5.0
14  2019-01-15 00:00:00  19.1    5.6      0.1
15  2019-01-16 00:00:00  17.1    6.6     -3.0
16  2019-01-17 00:00:00  15.4    6.6     -7.9
17  2019-01-18 00:00:00  16.6    5.9     -5.0
18  2019-01-19 00:00:00  18.4    6.6     -1.8
19  2019-01-20 00:00:00  19.4    7.1     -2.4
20  2019-01-21 00:00:00  17.0    5.8     -5.2
21  2019-01-22 00:00:00  16.1    5.0     -4.3
22  2019-01-23 00:00:00  16.7    6.7     -2.3
23  2019-01-24 00:00:00  16.1    6.2     -1.9
24  2019-01-25 00:00:00  16.6    6.0     -1.6
25  2019-01-26 00:00:00  15.3    4.5     -2.8
26  2019-01-27 00:00:00  15.0    4.6     -4.3
27  2019-01-28 00:00:00  16.8    6.5     -0.6
28  2019-01-29 00:00:00  17.9    6.0     -1.5
29  2019-01-30 00:00:00  18.2    5.2     -2.1
30  2019-01-31 00:00:00  20.0    5.1     -4.4
31           2019-02-01   1.0    1.0      3.0

In [13]:
#Naha列の値をつかって並び替え
df.sort_values("Naha", inplace = True)
df

                   date  Naha  Tokyo  Sapporo
0            2019-02-01   1.0    1.0      3.0
26  2019-01-27 00:00:00  15.0    4.6     -4.3
25  2019-01-26 00:00:00  15.3    4.5     -2.8
16  2019-01-17 00:00:00  15.4    6.6     -7.9
23  2019-01-24 00:00:00  16.1    6.2     -1.9
21  2019-01-22 00:00:00  16.1    5.0     -4.3
24  2019-01-25 00:00:00  16.6    6.0     -1.6
17  2019-01-18 00:00:00  16.6    5.9     -5.0
22  2019-01-23 00:00:00  16.7    6.7     -2.3
27  2019-01-28 00:00:00  16.8    6.5     -0.6
20  2019-01-21 00:00:00  17.0    5.8     -5.2
15  2019-01-16 00:00:00  17.1    6.6     -3.0
2   2019-01-03 00:00:00  17.4    4.9     -3.3
1   2019-01-02 00:00:00  17.8    6.2     -4.1
28  2019-01-29 00:00:00  17.9    6.0     -1.5
8   2019-01-09 00:00:00  17.9    4.5     -2.0
29  2019-01-30 00:00:00  18.2    5.2     -2.1
0   2019-01-01 00:00:00  18.3    5.3     -1.9
18  2019-01-19 00:00:00  18.4    6.6     -1.8
13  2019-01-14 00:00:00  18.6    5.6     -5.0
7   2019-01-08 00:00:00  18.9    4.6     -3.5
6   2019-01-07 00:00:00  19.0    5.4     -4.8
5   2019-01-06 00:00:00  19.0    5.3     -3.0
14  2019-01-15 00:00:00  19.1    5.6      0.1
19  2019-01-20 00:00:00  19.4    7.1     -2.4
12  2019-01-13 00:00:00  19.5    6.2     -5.1
3   2019-01-04 00:00:00  19.9    5.1     -0.2
9   2019-01-10 00:00:00  19.9    2.0      0.5
30  2019-01-31 00:00:00  20.0    5.1     -4.4
10  2019-01-11 00:00:00  20.4    6.4     -3.6
11  2019-01-12 00:00:00  22.1    4.6     -2.4
4   2019-01-05 00:00:00  22.1    7.4     -2.2

In [14]:
#describeメソッドを使ってDataFrameの基本統計情報を表示
df.describe()

            Naha      Tokyo    Sapporo
count  32.000000  32.000000  32.000000
mean   17.609375   5.453125  -2.768750
std     3.515620   1.310746   2.073401
min     1.000000   1.000000  -7.900000
25%    16.675000   4.975000  -4.300000
50%    18.050000   5.600000  -2.600000
75%    19.175000   6.250000  -1.875000
max    22.100000   7.400000   3.000000

In [17]:
#Feeling列を追加する。
#Naha列の値が17度以上のFeeling列に「hot」を挿入
#Naha列の値が17度より小さいのFeeling列に「cool」を挿入
df.loc[df["Naha"] >= 17, "Feeling"] = "hot"
df.loc[df["Naha"] < 17, "Feeling"] = "cool"
df

                   date  Naha  Tokyo  Sapporo Feeling
0            2019-02-01   1.0    1.0      3.0    cool
26  2019-01-27 00:00:00  15.0    4.6     -4.3    cool
25  2019-01-26 00:00:00  15.3    4.5     -2.8    cool
16  2019-01-17 00:00:00  15.4    6.6     -7.9    cool
23  2019-01-24 00:00:00  16.1    6.2     -1.9    cool
21  2019-01-22 00:00:00  16.1    5.0     -4.3    cool
24  2019-01-25 00:00:00  16.6    6.0     -1.6    cool
17  2019-01-18 00:00:00  16.6    5.9     -5.0    cool
22  2019-01-23 00:00:00  16.7    6.7     -2.3    cool
27  2019-01-28 00:00:00  16.8    6.5     -0.6    cool
20  2019-01-21 00:00:00  17.0    5.8     -5.2     hot
15  2019-01-16 00:00:00  17.1    6.6     -3.0     hot
2   2019-01-03 00:00:00  17.4    4.9     -3.3     hot
1   2019-01-02 00:00:00  17.8    6.2     -4.1     hot
28  2019-01-29 00:00:00  17.9    6.0     -1.5     hot
8   2019-01-09 00:00:00  17.9    4.5     -2.0     hot
29  2019-01-30 00:00:00  18.2    5.2     -2.1     hot
0   2019-01-01 00:00:00  18.3    5.3     -1.9     hot
18  2019-01-19 00:00:00  18.4    6.6     -1.8     hot
13  2019-01-14 00:00:00  18.6    5.6     -5.0     hot
7   2019-01-08 00:00:00  18.9    4.6     -3.5     hot
6   2019-01-07 00:00:00  19.0    5.4     -4.8     hot
5   2019-01-06 00:00:00  19.0    5.3     -3.0     hot
14  2019-01-15 00:00:00  19.1    5.6      0.1     hot
19  2019-01-20 00:00:00  19.4    7.1     -2.4     hot
12  2019-01-13 00:00:00  19.5    6.2     -5.1     hot
3   2019-01-04 00:00:00  19.9    5.1     -0.2     hot
9   2019-01-10 00:00:00  19.9    2.0      0.5     hot
30  2019-01-31 00:00:00  20.0    5.1     -4.4     hot
10  2019-01-11 00:00:00  20.4    6.4     -3.6     hot
11  2019-01-12 00:00:00  22.1    4.6     -2.4     hot
4   2019-01-05 00:00:00  22.1    7.4     -2.2     hot

In [40]:
#Feelingでグループ化し、hotの値がある行と、coolの値がある行ごとに合計と平均を求める
df.groupby("Feeling").sum()
df.groupby("Feeling").mean()

              Naha     Tokyo   Sapporo
Feeling
cool     14.560000  5.300000 -2.770000
hot      18.995455  5.522727 -2.768182